body { 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    margin: 2em 0 0;
    font-family: Arial, sans-serif;
    font-size: calc(100vw * 0.05);
    text-align: center;
    background: #fff0f5;
    color: #ff78a5;
}
.pagina {
    display: grid;
}
.contador {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, auto);
    font-weight: bold;
    gap: 1em;
}
.contador > div {
    display: grid;
    border: 0.2em solid;
    border-radius: 1em;
    padding: 0.5em;
    aspect-ratio: 1;
    background: #fff0f5;
    box-sizing: border-box;
}

.contador > .relogio {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 50%;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.relogio > .pontero {
    display: flex;
}

.relogio > .pontero::before {
    content: '♥';
    font-size: 3.5em;
    transform: rotate(180deg);
}

.relogio > .marcador {
    position: absolute;
    border-radius: 4px;
    background: currentColor;
}

.marcador.vert {
    width: 4px;
    height: 0.5em;
}
.marcador.hori {
    width: 0.5em;
    height: 4px;
}

.marcador.topo { top: -2px; }
.marcador.direita  { right: -2px; }
.marcador.base  { bottom: -2px; }
.marcador.esquerda { left: -2px; }

.contador > div > p {
    margin: 0;
}
.contador > div > p:nth-child(1) {
    font-size: 2.5em;
}
.contador > div > p:nth-child(2) {
    font-size: 1em;
}

h1 {
    font-size: 2.2em;
    background: #fff0f5;
    border-radius: 0.6em;
    margin: 0.6em 0.3em;
}

#coracoes-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
}
  
.coracao {
    position: absolute;
    color: red;
    font-size: 20px;
    animation: subir 8s linear forwards;
}

@keyframes subir {
    0% {
      transform: translateY(100vh) scale(1);
    }
    100% {
      transform: translateY(-110vh) scale(1.5);
    }
}

.frases {
    position: sticky;
    bottom: 1em;
    left: 0;
    animation: trocarFrase 5s infinite;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    background: #fff0f5;
    border: 4px solid;
}

@keyframes trocarFrase {
    0% {
        transform: translateY(calc(100% + 1em));
    }
    10% {
        transform: translateY(0%);
    }
    90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(100% + 1em));
    }
}

@media (min-width: 500px) {
    body {
        font-size: calc(500px * 0.05);
    }
}
@media (min-width: 600px) {
    .contador {
        grid-template-columns: repeat(3, auto);
    }
}